doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv='access-control-allow-origin', content='http://localhost:4200')
  body
    block content
